@font-face {
    font-family: "Graphik Web Semibold Regular";
    src: url("https://db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.eot");
    src: url("https://db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.svg#Graphik Web Semibold Regular")format("svg");
}

body {
    font-family: "Graphik Web Semibold Regular";
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 30px;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo svg {
    height: 26px;
    margin-right: 10px;
}

.navbar .logo span {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    font-family: "Graphik Web Semibold Regular";
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 0;
    justify-content: center; /* Centraliza os links dentro do ul */
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
}

.navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 70px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.serie-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serie-poster {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.serie-poster img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-right: 20px;
}

.serie-info {
    margin-bottom: 20px;
}

.serie-info p {
    font-size: 16px;
    margin-bottom: 10px;
}

.serie-botao {
    margin-bottom: 20px;
}

.serie-botao button {
    background-color: orange;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.serie-botao button:hover {
    background-color: orange;
}

.comentarios {
    width: 100%;
    margin-top: 20px;
}

.comentario-box {
    margin-bottom: 20px;
}

.comentario-box textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.comentario-box button {
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.comentarios-lista {
    width: 100%;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}
